@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --color1: rgba(50, 255, 25, 1);
  --color-highlight: hotpink;
  --color-border: black;

  --space-1: 1em;
  --space-2: 2em;

  --font-ligature: Sofia;

  --header-height: 80px;
}