input[type="text"] {
  appearance: none;
  border: none;
  font-family: Sofia;
  inline-size: 80%;
  text-align: center;
  background: transparent;
}

textarea {
  font-family: var(--font-ligature);
  font-size: 16px;
  resize: none;
  border: none;
}
