@import "./tools/swatches.css";
@import "forms.css";

html {
  height: 100%;
  color: var(--color-dark);
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column;
  height: 100%;
  font-family: Source Sans Pro;
  background-color: var(--color-background);
}

.font-ligature {
  font-family: Sofia;
}
.fs-1 {
  font-size: 1em;
}
.fs-2 {
  font-size: 2em;
}
.fs-3 {
  font-size: 3em;
}
.fs-4 {
  font-size: 4em;
}
.fs-5 {
  font-size: 5em;
}

header {
  width: 100%;
  height: var(--header-height);
  flex-shrink: 0;
  border-bottom: 1px solid var(--color-highlight);
  display: flex;
  align-items: center;

  & .logo {
    margin-left: var(--space-1);
  }

  & p {
    flex: 1;
    text-align: center;
    font-family: var(--font-ligature);
    font-size: 20px;
  }
  & .button {
    margin-right: var(--space-1);
  }
}

.content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - var(--header-height));
  flex-shrink: 0;
}

.index-placeholder {
  flex-flow: column;
  display: flex;
  text-align: center;
  align-items: center;
}

.cards-wrapper {
  max-height: calc(100vh - var(--header-height));
  overflow: auto;
  flex-shrink: 0;
  padding-left: var(--space-2);

  & .cards-info {
    list-style: none;
    padding-left: var(--space-1);
    max-width: 240px;
    padding-right: var(--space-2);
  }

  & .cards-inner {
    display: flex;
    flex-flow: column;
    overflow-x: auto;
    gap: var(--space-1);
    padding: var(--space-1) var(--space-1) var(--space-1) var(--space-2);
    counter-reset: css-counter 0;

    & .card {
      position: relative;
      height: 100px;
      width: 140px;
      border: 1px solid var(--color-border);
      background-color: white;
      border-radius: 4px;
      flex-shrink: 0;
      counter-increment: css-counter 1;

      &:before {
        content: counter(css-counter) ". ";
        position: absolute;
        top: 0;
        left: -20px;
        font-size: 1.2em;
      }

      &:hover {
        border-color: var(--color-highlight);
        cursor: pointer;
      }

      &.active {
        border-color: var(--color-primary);
        color: var(--color-primary);
        background-color: rgba(255, 255, 255, 0.44);
      }
    }
  }
}

.body-wrapper {
  flex-grow: 1;
  display: flex;
  align-items: center;
  overflow: scroll;
  padding-inline-end: 2rem;

  & .body-inner {
    display: flex;
    gap: 2rem;

    & .page {
      font-style: italic;
      font-size: 1.4em;
      margin-bottom: 0.2em;
    }

    & .body-content {
      position: relative;
      border: 1px solid var(--color-border);
      background-color: white;
      border-radius: 4px;
      padding: var(--space-2);
      text-align: center;
      max-block-size: 650px;
      aspect-ratio: 16 / 9;
      flex-shrink: 0;

      & p {
        margin: 0;
      }

      & .summary {
        position: absolute;
        font-family: var(--font-ligature);
        top: var(--space-1);
        right: var(--space-1);
      }
    }
  }
}

.tpl-cover {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.tpl-activity_checklist {
  & .intro {
    padding: var(--space-1) 0;
  }

  & .checklist {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-1);
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;

    & li {
      width: 48%;
      padding: var(--space-1) 0;
      display: flex;

      & .image {
        width: 100px;
        height: 100px;
        flex-shrink: 0;
        background-color: cadetblue;
        margin-right: var(--space-1);
      }
      & .text {
        font-size: 2.4em;
        font-family: var(--font-ligature);
        text-align: left;
      }
    }
  }
}

.button {
  display: flex;
  background-color: var(--color-highlight);
  color: var(--color-dark);
  border-radius: 4px;
  height: 36px;
  width: fit-content;
  padding-right: var(--space-2);
  padding-left: var(--space-2);
  cursor: pointer;
  appearance: none;
  align-items: center;
  text-align: center;
  transition: all 0.3s;
  border: none;
  text-decoration: none;

  &:hover {
    background-color: var(--color-dark);
    color: white;
  }

  &.btn-big {
    height: 60px;
    font-size: 20px;
  }
}
