@import "./tools/swatches.css";
@import "forms.css";

html {
  height: 100%;
  color: var(--color-dark);
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  margin: 10px;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column;
  height: 100%;
  font-family: DM Sans, sans-serif;
  background-color: var(--color-background);
}

.font-ligature {
  font-family: Sofia;
}
.fs-1 {
  font-size: 1em;
}
.fs-2 {
  font-size: 2em;
}
.fs-3 {
  font-size: 3em;
}
.fs-4 {
  font-size: 4em;
}
.fs-5 {
  font-size: 5em;
}

header {
  width: 100%;
  height: calc(var(--header-height) - 1px);
  flex-shrink: 0;
  border-bottom: 1px solid var(--color-highlight);
  display: flex;
  align-items: center;

  & .logo {
    margin-left: var(--space-1);
  }

  & p {
    flex: 1;
    text-align: center;
    font-family: var(--font-ligature);
    font-size: 20px;
  }
  & .button {
    margin-right: var(--space-1);
  }
}

.content-index {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: calc(100vh - var(--header-height));
  flex-shrink: 0;
}

.index-placeholder {
  flex-flow: column;
  display: flex;
  text-align: center;
  align-items: center;
}

#scrapbooks-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-2);
  margin: 0;
  padding: var(--space-2);
  position: absolute;
  top: 0;
  left: 0;

  & .scrapbook {
    list-style: none;
    position: relative;

    & .actions {
      display: flex;
      gap: 1em;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 80;
      z-index: 1;
      width: 198px;
      margin-left: 2px;
      height: 70px;
      background-color: #e8e9eb;
      opacity: 0;
      transition: opacity 0.4s;

      & button {
        width: 36px;
        height: 36px;
        border: none;
        cursor: pointer;
        background: url("/src/assets/icons-share.svg") no-repeat center;
        background-size: 36px 36px;
        opacity: 0.7;
        transition: 0.4s;

        &:hover {
          opacity: 1;
        }
        &.ac-duplicate {
          background-image: url("/src/assets/icons-duplicate.svg");
        }
        &.ac-delete {
          background-image: url("/src/assets/icons-delete.svg");
        }
      }
    }
    &:hover .actions {
      opacity: 1;
    }

    & a {
      display: flex;
      flex-direction: column;
      position: relative;
      height: 240px;
      width: 200px;
      border: 1px solid var(--color-border);
      background-color: white;
      border-radius: 4px;
      flex-shrink: 0;
      text-decoration: none;
      color: var(--color-dark);
      transition: box-shadow 0.3s;

      & img {
        width: 186px;
        height: 131px;
        align-self: center;
      }

      & .cards-info {
        list-style: none;
        padding: 16px;
      }

      &:hover {
        border-color: var(--color-primary);
        box-shadow: 0 0 0 1px var(--color-primary);
      }
    }
  }
}

.content-composer {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  height: calc(100vh - var(--header-height));
  flex-shrink: 0;
}
.cards-wrapper {
  max-height: calc(100vh - var(--header-height));
  overflow: auto;
  flex-shrink: 0;
  padding-left: var(--space-2);

  & .cards-info {
    list-style: none;
    padding-left: var(--space-1);
    max-width: 240px;
    padding-right: var(--space-2);
  }

  & .cards-inner {
    display: flex;
    flex-flow: column;
    overflow-x: auto;
    gap: var(--space-1);
    padding: var(--space-1) var(--space-1) 0 var(--space-2);

    & .card {
      position: relative;
      height: 100px;
      width: 140px;
      border: 1px solid var(--color-border);
      background-color: white;
      border-radius: 4px;
      flex-shrink: 0;

      &:before {
        position: absolute;
        top: 0;
        left: -20px;
        font-size: 1.2em;
      }

      &:hover {
        border-color: var(--color-highlight);
        cursor: pointer;
      }

      &.active {
        border-color: var(--color-primary);
        color: var(--color-primary);
        background-color: rgba(255, 255, 255, 0.44);
      }
    }

    &.counter {
      counter-reset: css-counter 0;

      & .card {
        counter-increment: css-counter 1;
        &:before {
          content: counter(css-counter) ". ";
        }
      }
    }
  }
}

.body-wrapper {
  flex-grow: 1;
  display: flex;
  align-items: center;
  overflow: auto;
  padding-inline-end: 2rem;
  margin-bottom: 10px;

  & .body-inner {
    display: flex;
    gap: 2rem;

    & .page {
      font-style: italic;
      font-size: 1.4em;
      margin-bottom: 0.2em;
    }

    & .body-content {
      position: relative;
      border: 1px solid var(--color-border);
      background-color: white;
      border-radius: 4px;
      padding: var(--space-2);
      text-align: center;
      block-size: 900px;
      aspect-ratio: 1.41 / 1;
      flex-shrink: 0;

      & p {
        margin: 0;
      }

      & .summary {
        position: absolute;
        font-family: var(--font-ligature);
        top: var(--space-1);
        padding: 0.5em 1em 1em 2em;
        right: var(--space-1);
        font-size: 20px;
        background-image: url("/src/assets/pin.svg");
        background-position: left top;
        background-repeat: no-repeat;
      }
    }
  }
}

.tpl-cover {
  display: flex;
  flex-flow: column;
  justify-content: center;
  background-image: url("/src/assets/quokka_travel.svg"), url("/src/assets/paper_plane_flying.svg");
  background-position: 40px 20px, right 450px;
  background-repeat: no-repeat, no-repeat;
  background-size: 410px, auto;
}

.tpl-activity_checklist {
  & .intro {
    padding: var(--space-2) 4em var(--space-1) 4em;
    margin-bottom: var(--space-2) !important;
    background-image: url("/src/assets/quokka_lens.svg");
    background-position: left top;
    background-repeat: no-repeat;
    border-bottom: 2px solid var(--color-stroke);
  }

  & .checklist {
    align-items: center;
    display: grid;
    gap: var(--space-2);
    grid-template-columns: repeat(2, auto 1fr);
    max-width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;

    & .checklist-image-wrapper {
      position: relative;
    }

    & .checklist-input-image {
      position: absolute;
      inset-block-start: 0;
      inset-inline-start: 0;
      visibility: hidden;
      width: 100%;
      height: 100%;
      z-index: 2;
      cursor: pointer;
    }

    & .image {
      width: 160px;
      height: 160px;
      flex-shrink: 0;
      cursor: pointer;
    }
    & .text {
      font-size: 2.4em;
      font-family: var(--font-ligature);
      text-align: left;
    }

    & .checklist-image-wrapper {
      width: 160px;
      height: 160px;
      background: url("/src/assets/blob-1.svg") no-repeat center;
    }
  }
}

.button {
  display: flex;
  background-color: var(--color-highlight);
  color: var(--color-dark);
  border-radius: 4px;
  height: 36px;
  width: fit-content;
  padding-right: var(--space-2);
  padding-left: var(--space-2);
  cursor: pointer;
  appearance: none;
  align-items: center;
  text-align: center;
  transition: background-color 0.3s;
  border: none;
  text-decoration: none;

  &:hover {
    background-color: var(--color-dark);
    color: white;
  }

  &.btn-big {
    height: 60px;
    font-size: 20px;
  }
}

.cards-wrapper .cards-inner #add-card.card {
  background: transparent;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  font-size: 48px;
  transition: background-color 0.4s;

  &:hover {
    background-color: #f9c74f40;
  }
}

.cards-wrapper .cards-inner .new-card-popup {
  background: white;
  border: 1px solid var(--color-stroke);
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: auto;
  left: 220px;
  padding: 30px;
  position: absolute;
  width: auto;
  z-index: 10;
  border-radius: 5px;
  box-shadow: 4px 4px 4px rgba(49, 54, 56, 0.1);
  margin-top: -250px;

  &::before {
    content: " ";
    width: 20px;
    height: 20px;
    background: white;
    position: absolute;
    bottom: 75px;
    left: -10px;
    transform: rotate(45deg);
    border: 1px solid var(--color-stroke);
    box-shadow: 4px 4px 4px rgba(49, 54, 56, 0.1);
    clip-path: path("M 0 0 L 22 22 L 0 22 Z");
  }

  & button.card {
    color: var(--color-dark);
    font-family: DM Sans, sans-serif;
    font-size: 14px;
    border: 1px solid var(--color-primary);
    border-radius: 4px;
    padding: 10px;
    transition: background-color 0.4s;

    &:hover {
      background: var(--color-highlight);
    }
  }
}
