@import "./tools/swatches.css";

html {
  height: 100%;
  color: var(--color-dark);
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column;
  height: 100%;
  font-family: Source Sans Pro;
  background-color: var(--color-background);
}

.font-ligature {
  font-family: Sofia;
}
.fs-1 {
  font-size: 1em;
}
.fs-2 {
  font-size: 2em;
}
.fs-3 {
  font-size: 3em;
}
.fs-4 {
  font-size: 4em;
}
.fs-5 {
  font-size: 5em;
}

header {
  width: 100%;
  height: var(--header-height);
  flex-shrink: 0;
  border-bottom: 1px solid var(--color-highlight);
  display: flex;
  align-items: center;

  & .logo {
    margin-left: var(--space-1);
  }

  & p {
    flex: 1;
    text-align: center;
    font-family: var(--font-ligature);
    font-size: 20px;
  }
  & .button{
    margin-right: var(--space-1);
  }
}
.content {
  flex-grow : 1;
  width: 100%;
  display: flex;
}

.cards-wrapper {
  border-right: 2px solid var(--color-border);
  max-height: calc(100vh - var(--header-height));
  overflow: auto;
  flex-shrink: 0;

  & .cards-inner {
    display: flex;
    flex-flow: column;
    overflow-x: auto;
    gap: var(--space-1);
    padding: var(--space-1);

    & .card {
      height: 160px;
      width: 200px;
      border: 2px solid var(--color-border);
      flex-shrink: 0;

      &:hover {
        border-color: var(--color-highlight);
        cursor: pointer;
      }
    }
    
  }

}

.body-wrapper {
  flex-grow : 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  & .body-inner {
    width: 920px;

    & .page {
      font-style: italic;
      font-size: 1.4em;
      margin-bottom: 0.2em;
    }

    & .body-content {
      position: relative;
      border: 1px solid var(--color-border);
      background-color: white;
      border-radius: 4px;
      padding: var(--space-2);
      text-align: center;
      height: 650px;

      & p {
        margin: 0;
      }

      & .summary {
        position: absolute;
        font-family: var(--font-ligature);
        top: var(--space-1);
        right: var(--space-1);
      }
    }
    
  }

}

.tpl-cover {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.button {
  background-color: var(--color-highlight);
  border-radius: 4px;
  height: 36px;
  padding-right: var(--space-2);
  padding-left: var(--space-2);
  cursor: pointer;
  appearance: none;
  align-items: center;
  text-align: center;
  transition: all 0.3s;
  border: none;

  &:hover{
    background-color: var(--color-dark);
    color: white;
  }
}